<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projeto em Spring Boot</title>
    
    
</head>
<body>
    <h1>Fornecedor</h1>
    <p>Essa é a estrutura básica de um documento HTML.</p>
    
    <p >
        Spring Boot é um framework Java que facilita a criação de aplicações web, REST APIs e microsserviços
        de forma rápida e estruturada.
    </p>
</body>
<footer>
    <p>&copy; Direitos reservados Senai 2025/09/03</p>
</footer>
</html>
